header{
    padding: 0;
    background-color: #325C6C;
    color: #ffffff;
    padding-top: 2px;
    border: solid black;
    margin: 5px;
    border-radius: 10px;
}

.anchoAlerta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alerta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    width: 400px;
    margin: 1rem 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}

.error{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    width: 430px;
    margin: 1rem 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #ef8c8c;
    color: #060000;
    border: 1px solid #badbcc;
}

.logout{    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    width: 430px;
    margin: 1rem 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}
.aRedit {
    color: black;
    padding-left: 5px;
    display: flex;
    justify-content: center;
}

.text {
    color: rgb(38,35,35);
}

h1{
    text-align: center;
}
form{
    margin: 0 auto;
    width: 400px;
    height: 370px;
    background-color: rgb(247,243,243 );
    padding: 20px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
}

label{
    font-size: 20px;
}

h2{
    text-align: center;
    margin: 5px;
}

input{
    border-radius: 5px;
    border: solid rgb(92, 86, 86);
    width: 370px;
    height: 30px;
}

.inputNombre{
    width: 177px;
}

.input2{
    width: 37px;
    background-color: #C7DCDD;
}

.btnFile{
    width: 100px;
    display: none;
}
.btn1File {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.input3{
    width: 324px;
}

p{
    margin: 4px;
}
.p1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border-radius: 15px;
    width: 90px;
    height: 40px;
    background-color: #C7DCDD;  
}
.btn:hover{
    background-color: #6A9A9E;
    color: white;
}
.img1{
    width: 90px;
    height: 90px;
    padding: 10px;
    border-radius: 60px;
}
.btn1{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: solid black;
    background-color: #325C6C;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    left: 1050px;
    top: 400px;
}

.btn1:hover{
    background-color: #9BC6BF;
    color: black;
}

.img2{
    position: absolute;
    left: 1050px;
    top: 200px;
    width: 200px;
}

.check{
    position: absolute;
    left: 1025px;
    top: 460px;
    width: 15px;
}

.term{
    position: absolute;
    font-size: 15px;
    left: 1050px;
    top: 470px;

}

footer{
    background-color: #325C6C;
    color: #ffffff;
    display: flex;
    justify-content: center;
    border: solid black;
    border-radius: 10px;
}

.divfooter{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.mapa{
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border: solid black;
    background-color: #C7DCDD;
    color: black;
    margin-top: 10px;
}

a{
    color: #ffffff;
}

.checkRol{
    width: 15px;
    display: flex;
    align-items: center;
}

/* Extras pantalla inicio de sesion */

.form1{
    height: 310px;
    padding: 50px;
}

.label2{
    font-size: 20px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

}

.inputP2{
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn2{
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: solid black;
    background-color: #325C6C;
    font-size: 20px;
    color: #ffffff;
    margin-left: 110px;
    margin-top: 20px;
}

.btn2:hover:hover{
    background-color: #9BC6BF;
    color: black;
}

/* Extras pantalla 3 */

.divP3{
    background-color: #325C6C;
    position: fixed;
    width: 200px;
    height: 93%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: solid black;
}

.imgP3{
    position: absolute;
    right: 50px;
    bottom: 100px;
    width: 100px;
    border-radius: 40%;
}

.h3P3{
    position: absolute;
    right: 55px;
    bottom: 500px;

}

.h1P3{
    position: absolute;
    right: 10px;
    bottom: 300px; 
}

.form2{
    width: 380px;
    height: 400px;
}

.h4P3{
    text-align: center;
    font-size: 20px;
}

.btn3{
    background-color: #6A9A9E;
    border-radius: 30px;
    width: 150px;
    height: 30px;
    color: white;
}

textarea{
    width: 370px;
    height: 80px;
    border-radius: 5px;
    border: solid rgb(92, 86, 86)
}

.inputP3{
    width: 270px;
}
.centrarBoton{
    display: flex;
    justify-content: end;
}

.btn4{
    margin: 20px;
    width: 150px;
    height: 35px;
    border: solid rgb(92, 86, 86);
    border-radius: 30px;
    background-color: #325C6C;
    color: #ffffff;
    font-size: 18px;
}

.btn4:hover{
    background-color: #6A9A9E;
    color: black;
}

/* Extras pantalla 4 */

.hp4 {
    position:absolute;
    width: 200px;
    height: 680px;
    right: 02px;
    border: solid black;
    background-color: #325C6C;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.img4 {
    width: 120px;
    position: absolute;
    left: 40px;
    top: 120px;
}

.pagop4 {
    position: absolute;
    left: 20px;
    bottom: 250px;
}

.form3 {
    height: 450px;
}

.btn6 {
    width: 60px;
    height: 30px;
    margin: 10px;
    background-color: #9BC6BF;
    border-radius: 30px;
}

.btn6:hover {
    background-color: #C7DCDD;
}

.otros1 {
    color: #4c4e52;
    text-align: justify;
}

.btn7 {
    width: 60px;
    height: 35px;
    margin-top: 10px;
    background-color:#325C6C;
    color: black;
    border-radius: 30px;
}


.centrar1 {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.btn5 {
    width: 150px;
    height: 35px;
    background-color: #325C6C;
    color: #FFFFFF;
    border: solid rgb(92, 86, 86);
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
}

.btn5:hover{
    background-color: #6A9A9E;
    color: black;
}

.btn8 {
    width: 60px;
    height: 35px;
    margin-top: 10px;
    background-color:#6A9A9E;
    border-radius: 30px;
}

.btn8:hover{
    background-color: #9BC6BF;
}

.inputp4 {
    width: 60px;
    border-radius: 30px;
    background-color: #C7DCDD;
}

/* Extras pantalla 5 */

.hp5{
    position:absolute;
    width: 200px;
    height: 762px;
    right: 02px;
    border: solid black;
    background-color: #325C6C;
    justify-content: center;
    align-items: center;
    color: #FFFFFF
}

.pagoP5{
    position: absolute;
    left: 20px;
    top: 150px;
}

.img5{
    position: absolute;
    width: 120px;
    left: 40px;
    bottom: 240px;

}

.btn9{
    margin: 0 auto;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #9BC6BF;
    margin-bottom: 8px;
}

.btn9:hover,.btn10:hover,.btn11:hover{
    background-color: #C7DCDD;
    border: solid black;
}

.btn10{
    margin: 0 auto;
    width: 65px;
    height: 30px;
    border-radius: 10px;
    background-color: #6A9A9E;
    font-weight: bold;
}

.labelP5{
    font-size: 11px;
}

.label2P5{
    font-size: 15px;
}

.label3P5{
    font-weight: bold;
}

.img6{
    width: 45px;
    height: 30px;
    border-radius: 25px;
}

.btn11{
    width: 60px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
}

.inputP5{
    width: 178px;
    height: 20px;
}

.input2P5{
    width: 100px;
    height: 20px;
    position: absolute;
    right: 620px;
}
/* Extras pantalla 6 */

.headerP6{
    margin: 40px;
}

.h2P6{
    font-size: 20px;
}

.inputP6{
    width: 200px;
    height: 20px;
    margin-right: 5px;
}

.btn12{
    width: 70px;
    border-radius: 20px;
    background-color: lightgreen;
}

.btn12:hover{
    background-color: #04d619;
}

.p6{
    display: flex;
    justify-content: center;
}

.labelP6{
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 670px;
    top: 230px;
    
}

.input2P6{
    width: 160px;
    height: 20px;
}

.input3P6{
    width: 40px;
    height: 20px;
    background-color: #9BC6BF;
}

.label2P6{
    font-size: 19px;
}

.input4P6{
    width: 180px;
    height: 20px;
}

.pcentrar{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.input5P6{
    width: 150px;
    margin: 0 10px 0 5px;
}
/* Correcciones extra */

.aRedireccion{
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

/* ---------------------------------------- Pantalla Index principal --------------------------------------------*/

.btn15{
    padding-right: 150px;
    background-color: #325C6C;
    border-style: hidden;
    
}

.imgIndex{
    width: 30px;
    height: 30px;
}

.dropDown{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.ul1{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    background-color: #325C6C;
}

ul li{
    display: inline-block;
    position:relative;
}

ul li .aIndex{
    display: block;
    padding: 30px 25px;
    color: black;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
}


ul li ul.dropDown{
    display: block;
}

ul li ul.dropDown{
    width: 100%;
    background-color: #325C6C;
    position: absolute;
    display: none;
}

ul li .aIndex:hover {
    background: #325C6C;

}
ul li:hover ul.dropDown{
 display: block;
}

.btn16{
    border-radius: 5px;
}

.headerIndex{
    display: flex;
    align-items: center;
}

.divIndex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 350px;
   
}
.imgIndex2{
    width: 20px;
    height: 25px;
}

.divIndex2{
    padding-left: 430px;
}

.aIndex2{
    margin: 10px;
    font-size: 17px;
}

.h2Index{
    text-align: left;
    margin-left: 40px;
}

.divIndex3{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.imgIndex3{
    width: 150px;
    height: 150px;
    border: solid 2px;
    margin-left: 10px;
    margin-top: 10px;
}
.divIndex4{
    margin: 5px;
    border: solid #325C6C;
    width: 220px;
    background-color: #6A9A9E;
    border-radius: 5px;
}

.pIndex{
    font-weight: bold;
    font-size: 18px;
}

.btn17{
    margin: 5px;
    width: 100px;
    margin-left: 60px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: #325C6C;
}

.btn17:hover{
    background-color: #6A9A9E;
}

.pIndex2{
    font-size: 18px;
    margin-left: 30px;
    color: #4c4e52;
    font-weight: bold;
}

/* ------------------------------------- Adicionales pantalla 7------------------------------------------*/
.formP7{
    width: 900px;
    margin-top: 30px
}

.btn18{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background-color: #325C6C;
    color: white;
    margin-bottom: 5px;
}

.aP7{
    text-decoration: none;
}

.btn18:hover{
    background-color: #6A9A9E;
    color: black;
}

.divP7{
    display: grid;
    grid-template-columns: auto auto;
}

.imgP7{
    width: 450px;
}

.desP7{
    margin: 15px;
    margin-top: 40px;
}
.pP7{
    font-size: 20px;
    font-weight: bold;
    color: rgb(62, 61, 61);
}

.inputP7{
    width: 50px;
    height: 25px;
    margin-left: 15px;
}

.btnDiv{
    display: flex;
    justify-content: center;
}

.btn19{
    margin: 15px 5px 10px 0;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #325C6C;
    color:white;
}

.btn19:hover{
    background-color: #6A9A9E;
    color: black;
}

.pDesP7{
    margin-bottom: 20px;
}

/* -----------------------------------Adicionales pantalla 8 ------------------------------------------*/

.btn20{
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.btn20:hover{
    background-color: #4c4e52;
    color: black;
}

.formP8{
    width: 700px;
    height: 280px;
    margin-top: 50px;
}

.divMainP8{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.divImg{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px;
}

.imgP8{
    width: 100px;
    margin: 5px;
}

.tituloP8{
    text-align: left;
    font-size: 25px;
}

.labelP8{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 10px;
}

.label2P8{
    font-weight: bold;
}

.pNumero{
    font-size: 18px;
    font-weight: bold;
}

.btn21{
    width: 200px;
    border-radius: 5px;
    background-color: #325C6C;
    color: white;
}






/* ------------------------------------- Diseño responsive -------------------------------------------- */

@media (max-width: 750px){
    header{
        width: 98%;
        font-size: 12px;
    }
    form{
        width: 380px;
        margin-bottom: 100px;

    }
    label{
        font-size: 16px;
    }
    h2{
        font-size: 20px;
    }
    input{
        height: 24px;
    }
    .btn1{
        width: 200px;
        height: 50px;
        position: absolute;
        left: 120px;
        top: 590px;
    }
    .img2{
        position: absolute;
        left: 330px;
        top: 590px;
        width: 100px;
    }
    .check{
        position: absolute;
        left: 60px;
        top: 640px;
        width: 15px;
    }
    .term{
        position: absolute;
        font-size: 15px;
        left: 90px;
        top: 640px;
        width: 250px;
    }
    .divfooter{
        padding: 5px 3px 3px 3px;
        font-size: 12px;
    }

}




