<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer proyecto</title>
    <link rel="stylesheet" href="../css/proyecto.css">
</head>
<body>
    <!-- Continuacion ingreso metodos de pago -->
    <div class="hp5">
        <h2 class="pagoP5" >Confirmacion metodos de pago</h2>
        <img class="img5" src="/img/imagen5.png" alt="Manos">
    </div>
    <h4 class="h4P3">Establece los metodos de pago</h4>
    <!-- Formulario para completar metodos de pago -->
    <form action="">
        <h2>Ingrese su información de banco</h2>
        <h4>¿Usara pagos con TC, TD o transferencia bancaria?</h4>
        <button type="button" class="btn9">SI</button>
        <button type="button" class="btn9">NO</button>
        <button type="button" class="btn10">SALTAR</button>
        <label for="" class="labelP5">Pago contraentrega "Saltar" para continuar.</label>
        <p>
            <label class="label3P5">Tipo de pago:</label>
        </p>
        <p>
            <label for="" class="label2P5">Puede seleccionar las opciones necesarias:</label>
        </p>
        <button type="button" class="btn11"><img src="../img/visap5.jpg" alt="VISA" class="img6"></button>
        <button type="button" class="btn11"><img src="../img/masterp5.jpg" alt="MASTERCARD" class="img6"></button>
        <button type="button" class="btn11"><img src="../img/americanp5.jpg" alt="AMERICANEXPRESS" class="img6"></button>
        <button type="button" class="btn11"><img src="../img/otrosp5.jpg" alt="Otros" class="img6"></button>
        <textarea name="" id="" placeholder="Confirme el metodo de pago a utilizar si ha seleccionado la opcion Otros"></textarea>
        <p>
            <label class="label3P5">Datos de banco</label>
        </p>
        <p>
            <label for="">Numero de tarjeta</label>
            <input type="text" placeholder="xxxx xxxx xxxx xxxx" class="inputP5">
        </p>
        <p>
            <label for="">Fecha de expiración</label>
            <input type="text" placeholder="MM / AAAA" class="input2P5">
        </p>
        <p>
            <label for="">CVC</label>
            <input type="text" class="input2P5">
        </p>
        <p class="centrarBoton">
            <button type="submit" class="btn4">Completar</button>
        </p>
    </form>
    <!-- Pie de pagina o footer para enlaces a pantalla adicionales -->
    <h3 class="mapa" >Mapa de navegación</h3>
    <footer class="">
        <div class="divfooter">
            <label for="">Acerca de</label><br>
            <a href="../index.html">Inicio</a><br>
            <a href="inicioSesion.html">Iniciar sesion</a><br>
        </div>
        <div class="divfooter">
            <label for="###">Vendedor</label><br>
            <a href="registroArticulo.html">Ingresar producto nuevo</a><br>
            <a href="ingresarMetodoPago.html">Medios de pago</a><br>
            <a href="ingresarMetodoPago2.html">Confirmacion pagos</a><br>
        </div>
        <div class="divfooter">
            <label for="">Redes Sociales</label><br>
            <a href="https://x.com">X</a><br>
            <a href="https://www.facebook.com/">Facebook</a><br>
            <a href="https://www.instagram.com">Instagram</a><br>
            <a href="https://www.youtube.com/">Youtube</a><br>
        </div>
        <div class="divfooter">
            <label for="">Cliente</label><br>
            <a href="entregaPedido.html">Datos de entrega</a><br>
            <a href="registro.html">Registrate</a><br>
        </div>
    </footer>
</body>
</html>