<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer proyecto</title>
    <link rel="stylesheet" href="/css/proyecto.css">
</head>
<body>
    <!-- Formulario inicio de sesion -->
    <header>
        <h3>My project</h3>
        <h1>Inicio de sesion</h1>
    </header>
    <form th:action="@{/login}" method="post" class="form1">
        <div th:if="${param.error}">
            <div class="error">
                Usuario o contraseña invalidos
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="logout">
                Ha cerrado sesion exitosamente
            </div>
        </div>
        <P>
            <label for="username" class="label2">Correo electronico</label>
        </P>
            <input type="email" placeholder="minombre@mirpoyecto.com" class="inputP2" name="username" id="username" required>
        <P>
            <label for="password" class="label2">Contraseña</label>
        </P>
            <input type="password" placeholder="Contraseña" class="inputP2" name="password" id="password" required>
            <p id="incorrecto"></p>
            <input type="submit" class="btn2" onclick="ingresar()" id="login-submit" value="Ingresar" />
            <!-- <button type="button" class="btn2" onclick="ingresar()">Entrar</button> -->
        <p>
            <span>Si eres nuevo usuario<a th:href=@{/registro}> Registro </a></span>
        </p>
    </form>
    
    <!-- Pie de pagina o footer para enlaces a pantalla adicionales -->
    <h3 class="mapa">Mapa de navegacion</h3>
    <footer>
        <div class="divfooter">
            <label for="">Acerca de</label><br>
            <a href="../index.html">Inicio</a><br>
            <a href="/html/inicioSesion.html">Iniciar sesion</a><br>
        </div>
        <div class="divfooter">
            <label for="###">Vendedor</label><br>
            <a href="/html/registroArticulo.html">Ingresar producto nuevo</a><br>
            <a href="/html/ingresarMetodoPago.html">Medios de pago</a><br>
            <a href="/html/ingresarMetodoPago2.html">Confirmacion pagos</a><br>
        </div>
        <div class="divfooter">
            <label for="">Redes Sociales</label><br>
            <a href="https://x.com">X</a><br>
            <a href="https://www.facebook.com/">Facebook</a><br>
            <a href="https://www.instagram.com">Instagram</a><br>
            <a href="https://www.youtube.com/">Youtube</a><br>
        </div>
        <div class="divfooter">
            <label for="">Cliente</label><br>
            <a href="/html/entregaPedido.html">Datos de entrega</a><br>
            <a href="/html/registro.html">Registrate</a><br>
        </div>
    </footer>
    <!-- <script src="..//js/proyecto.js"></script> -->
</body>
</html>