<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer proyecto</title>
    <link rel="stylesheet" href="../css/proyecto.css">
</head>
<body>
    <!-- Registro de articulo -->
    <div class="divPrueba">
        <div class="divP3">
            <h3 class="h3P3">My project</h3>
            <h1 class="h1P3">Registro Articulo</h1>
            <img src="../img/imagen3.png" alt="Manos" class="imgP3">
        </div>
        <div>
            <!-- Formulario para ingresar un producto rol de vendedor -->
            <h4 class="h4P3">Ingrese los datos del producto a vender</h4>
            <form action="" class="form2">
                <p>
                    <label for="">Nombre (producto)</label>
                </p>
                <input type="text" placeholder="Ingrese el nombre del producto">
                <p>
                    <label for="">Fotografias</label>
                </p>
                <button class="btn"><label for="fotos">Subir<input type="file" class="btnFile" id="fotos"></label></button>
                <label for="">PNG. JPG.</label>
                <p>
                    <label for="">Descripción del producto</label>
                </p>
                <textarea name="" id="" placeholder="Ingrese todos los datos de especificacion del producto"></textarea>
                <p>
                    <label for="">Costo del producto</label>
                </p>
                <input type="text" class="input2" value="$" disabled>
                <input type="text" class="inputP3">
                <input type="text" class="input2" value="COP" disabled>
                <p class="centrarBoton">
                    <button type="button" class="btn4">Siguiente</button>
                </p>
            </form>
        </div>
        <!-- Pie de pagina o footer para enlaces a pantalla adicionales -->
        <h3 class="mapa">Mapa de navegacion</h3>
        <footer>
            <div class="divfooter">
                <label for="">Acerca de</label><br>
                <a href="../index.html">Inicio</a><br>
                <a href="inicioSesion.html">Iniciar sesion</a><br>
            </div>
            <div class="divfooter">
                <label for="###">Vendedor</label><br>
                <a href="registroArticulo.html">Ingresar producto nuevo</a><br>
                <a href="ingresarMetodoPago.html">Medios de pago</a><br>
                <a href="ingresarMetodoPago2.html">Confirmacion pagos</a><br>
            </div>
            <div class="divfooter">
                <label for="">Redes Sociales</label><br>
                <a href="https://x.com">X</a><br>
                <a href="https://www.facebook.com/">Facebook</a><br>
                <a href="https://www.instagram.com">Instagram</a><br>
                <a href="https://www.youtube.com/">Youtube</a><br>
            </div>
            <div class="divfooter">
                <label for="">Cliente</label><br>
                <a href="entregaPedido.html">Datos de entrega</a><br>
                <a href="registro.html">Registrate</a><br>
            </div>
        </footer>
    </div>
</body>
</html>