<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer proyecto</title>
    <link rel="stylesheet" href="/css/proyecto.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <!-- Formulario de registro -->
    <header>
            <h3>My project</h3>
            <h2>Registrarse</h2>
    </header>
    <div>
        <div class="anchoAlerta">
            <div th:if="${param.exito}">
                <div class="alerta">
                    Se ha registrado exitosamente a la aplicacion
                </div>
            </div>
        </div>
        <form th:action="@{/registro}" method="post" th:object="${usuario}">
            <h2>Crea tu cuenta</h2>
            <!-- Preguntas de formulario -->
            <P>
                <label for="nombre">Ingrese su nombre</label>
            </P>
                <input type="text" id="nombre" th:field="*{nombre}" class="inputNombre" placeholder="Primer nombre" maxlength="50" minlength="2" required>
                <input type="text" id="apellido" th:field="*{apellido}" class="inputNombre" placeholder="Primer apellido" maxlength="50" minlength="2" required>
                
            <P>
                <label for="correo">Correo electronico</label>
            </P>
                <input type="email" id="correo" th:field="*{correo}"  placeholder="minombre@mirpoyecto.com" required>
            <P>
                <label for="numeroCelular">Numero celular</label>
            </P>
                <input type="text" placeholder="Numero de celular" id="numeroCelular" th:field="*{numeroCelular}" required>
            <P>
                <label for="password">Contraseña</label>
            </P>
                <input type="password" id="password" th:field="*{password}" placeholder="Ingrese su contraseña" required>
            <p id="incorrecto"></p>
            <label>Selecciona uno o más roles:</label><br>
            <div class="checkRol">
                <input type="checkbox" th:field="*{rolSeleccionado}" value="ROLE_COMPRADOR" id="checkRol1" /><label for="checkRol1">Comprador</label>
                <input type="checkbox" th:field="*{rolSeleccionado}" value="ROLE_VENDEDOR" id="checkRol2" /><label for="checkRol2">Vendedor</label>
            </div>
            <span class="aRedit">¿Estas registrado? <a class="aRedit text" th:href="@{/inicioSesion}">Inicio de sesion</a></span>
            <!-- Imagen de perfil -->
            <!-- <p class="p1">
                <label>Imagen de perfil</label> 
                <img src="../img/imagen1.jpeg" alt="fotoperfil" id="ImgProfile" class="img1" >
                <label for="imgInp" class="btn1File">Agregar</label>
                <input class="btnFile" type="file" accept=".jpg, .png, .jpeg" id="imgInp">
            </p> -->
            <button type="submit" class="btn1" onclick="registro()">Registrarse</button>
        </form>
    </div>
    <!-- Boton principal para envio del formulario -->
    <p>
        <img src="/img/imagen2.png" alt="caja" class="img2">
        <label for="terminos" class="term">Al crear una cuenta, acepta las condiciones de uso y aviso de privacidad.</label>
        <!-- <input type="checkbox" class="check" id="terminos"> -->
    </p>
    <!-- Pie de pagina o footer para enlaces a pantalla adicionales -->
    <h3 class="mapa">Mapa de navegacion</h3>
    <footer>
        <div class="divfooter">
            <label for="">Acerca de</label><br>
            <a href="../index.html">Inicio</a><br>
            <a href="inicioSesion.html">Iniciar sesion</a>
        </div>
        <div class="divfooter">
            <label for="">Vendedor</label><br>
            <a href="registroArticulo.html">Ingresar producto nuevo</a><br>
            <a href="ingresarMetodoPago.html">Medios de pago</a><br>
            <a href="ingresarMetodoPago2.html">Confirmacion pagos</a><br>
        </div>
        <div class="divfooter">
            <label for="">Redes Sociales</label><br>
            <a href="https://x.com">X</a><br>
            <a href="https://www.facebook.com/">Facebook</a><br>
            <a href="https://www.instagram.com">Instagram</a><br>
            <a href="https://www.youtube.com/">Youtube</a><br>
        </div>
        <div class="divfooter">
            <label for="">Cliente</label><br>
            <a href="entregaPedido.html">Datos de entrega</a><br>
            <a href="registro.html">Registrate</a><br>
        </div>
    </footer>
    <!-- <script src="/js/proyecto.js"></script> -->
</body>
</html>